#containerIntro h1,
#containerIntro p {
  display: inline;
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.button {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
}

.button-large {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 20px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
}

.txtbox {
  border: 1px solid black;
}
